@import "fonts.css";

html {
    scroll-behavior: smooth;
}

body {
    margin:0px;
    padding: 0px;
}

.wrapper {
    max-width: 1020px;
    margin: 0px auto;
    color:  #ffffff;
    font-family: "Lato";
    font-weight: 700;
}

h1 {
    position: absolute;
    width: 0px;
    height: 0px;
    overflow: hidden;
}

.header__menu__clicker {
    display:none;
    z-index: 1;
}

header {
    height: 95px;
    width: 100%;
    max-width: 1020px;
    display: flex;
    align-items: center;
    position: fixed;     
    padding: 0px 40px;
    background-color: #2d303a; 
    box-sizing: border-box;
    box-shadow: inset 0px -6px 0px 0px #323746;
    z-index: 90;
}


.header__logo {
    font-size: 25px;
    line-height: 5px;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    text-transform: uppercase;
    margin-right: auto;
    margin-bottom: 7px;
    letter-spacing: -0.6px;
}

.header__logo span {
    color: #f06c64;
}

.menu__separater {
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: #494e62;
}

.header__menu {
    width: 371px;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin-top: 5px;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: "Lato";
    text-align: left;
    letter-spacing: -0.32px;
    user-select: none;
}

.header__menu a {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

.link_active {
    color: #f06c64 !important;
}

.header__menu a:visited {
    color: #f1f1f1;
    text-decoration: none;
    cursor: pointer;
}

.header__menu a:hover {
    color: #f06c64;
    text-decoration: none;
    cursor: pointer;
}

.slider {
    padding-top: 95px;
    height: 58.724vw;
    max-height: 600px;
    position: relative;
}

.slider__content {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.slider__item {
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
    background-color: #f06c64;
    box-shadow: inset 0px -6px 0px #ea676b;
    animation: 0.5s ease-in-out;
}

.slider__item_active,
.slider__item_next {
  display: inline-block;
}

.slider__item_next {
    position: absolute;
    top: 0;
    width: 100%;
  }

.slider__item_vertical {
    background-color: #648BF0;
    box-shadow: inset 0px -6px 0px rgb(115, 152, 243);
}

.item__phone {
    position: relative;
    width: 100%;
    height: 100%;
}

.item__phone_horisontal {
    transform: rotate(90deg);
}

.phone {
    left: 11%;
    top: 8.8%;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    width: 21.18%;
}

.phone_horisontal {
    left: -21.3%;
    top: -11.96%;
    position: absolute;
    z-index: 10;
}

.screen {
    left: 12.5%;
    top: 19.6%;
    position: absolute;
    z-index: 11;
    cursor: pointer;
    width: 18.44%;
}

.screen_horisontal {
    left: -27%;
    top: 11%;
    transform: rotate(-90deg);
    width: 32.7%;
}

.screen_off {
    display: none;
}

.shadow {
    left: 11%;
    top: 9%;
    position: absolute;
    z-index: 9;
    width: 23.53%;
}

.shadow_horisontal {
    left: -21%;
    top: -16.5%;
    transform: rotateY(180deg);
}

.slider__item_vertical .phone {
    width: 24%;
    height: 82%;
    left: 37%;
    top: 7.6%;
    position: absolute;
    z-index: 10;
}

.slider__item_vertical .screen {
    width: 20%;
    left: 39%;
    top: 19%;
    position: absolute;
    z-index: 11;
}

.slider__item_vertical .shadow {
    width: 25%;
    height: 85%;
    left: 37.5%;
    top: 8.7%;
    position: absolute;
    z-index: 9;
}

.phone__background {
    width: 100%;
    height: 100%;
}

.slider__control {
    height: 100%;
    width: 100%;
    position: relative;
    top: -100%;
}

.left, .right {
    height: 100%;
    width: 11%;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    z-index: 15;
    user-select: none;
}


.right {
    right: 1px;
}

.left img, .right img{ 
    width: 50%;
    height: 11%;
    max-width: 72px;
    max-height: 72px;
    border-radius: 50%;
    box-sizing: border-box;
    padding: 15%;
    transition: 50ms ease-in;
    transform: none;
}

 .left img{
    margin-right: 12%;
}

.right img{
    margin-left: 12%;
} 

.left img:active, .right img:active {
    transform: scale(1.2);
}

.left img:hover, .right img:hover {
    background-color: #0000001c;
    cursor: pointer;
    filter: brightness(0);
    box-shadow: -1px 0px 11px 1px #fdfdfd61;
}


.slider__item_to-left {
    animation-name: left;
  }
  
.slider__item_from-right {
animation-name: right;
}

.slider__item_to-right {
animation-name: right;
animation-direction: reverse;
}

.slider__item_from-left {
animation-name: left;
animation-direction: reverse;
}

@keyframes left {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@keyframes right {
    from {
        left: 100%;
    }
    to {
        left: 0;
    }
}

.services {
    scroll-margin-top: 95px;
    background-color: #f2f2f2;
    padding: 0px calc(8.5%/2);
    box-shadow: inset 0px -6px 0px #ffffff;
}

.services__title {
    width: 100%;
    padding-top: 4.8rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: flex-end;
    font-size: 2.16rem;
    line-height: 1.37rem;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.services__description {
    margin-bottom: 3.45rem;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 2.09rem;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.04px;
    overflow: hidden;
}

.services__details {
    padding-bottom: 35px;
    display: grid;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    color: #767e9e;
    grid-template: 
        "a a a"
        "a a a"
        "a a a";
    grid-gap: 28px 0px;

}

.detail__item {
    display: flex;
}

.icon__circle {
    width: 56px;
    height: 56px;
    border: 2px solid #767e9e;
    border-radius: 50%;
}

.icon__circle {
    display: flex;
    align-items: center;
    justify-content: center;
}

.item__body {
    margin: 0px 18px;
}

.item__header {
    font-size: 18px;
    line-height: 18px;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.item__description {
    font-size: 12px;
    line-height: 22px;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    padding-top: 10px;
}

.portfolio {
    scroll-margin-top: 95px;
    padding: 5px calc(8.5%/2);
    background-color: #2d303a;
    box-shadow: inset 0px -6px 0px 0px #323746;
}

.portfolio__title {
    font-size: 30px;
    line-height: 17px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-top: 66px;
    letter-spacing: 0.2px;
    margin-bottom: 26px;
}

.portfolio__description {
    margin-bottom: 11px;
    font-size: 18px;
    line-height: 30px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.2px;
}

.portfolio__filter .portfolio__filter_active {
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
}

.portfolio__filter button {
    background-color: transparent;
    border: 1px solid #767e9e;
    border-radius: 5px;
    height: 22px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
    margin-right: 7px;
    margin-bottom: 10px;
    padding: 0px 7px;
    cursor: pointer;
    letter-spacing: -0.26px;
}

.portfolio__filter button:focus {
    outline: 0px;
}

.portfolio__filter button:hover {
    border: 1px solid #f2f2f2;
    color: #f2f2f2;
}

.portfolio__filter button:active {
    transform: scale(0.9);
    filter: invert(50%);
}

.portfolio__gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 49px;
    overflow: hidden;
}

.gallery__item {
    flex: 1 0 22.2%;
    margin: 10px;
    box-sizing: border-box;
    cursor: pointer;
    animation: slide-up 2s ease;
}

.gallery__item img {
    width: 100%;
}

.gallery__item::before {
    content: "";
    float: left;
    padding-top: 87%;
}

@keyframes slide-up {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.img_active {
    box-shadow: 0 0 0 5px #F06C64;
}

.about {
    scroll-margin-top: 95px;
    color: #666d89;
    padding: 5px calc(8.5%/2);
    background-color: #f2f2f2;
    box-shadow: inset 0px -6px 0px 0px #ffffff;
}

.about__title {
    margin-top: 63px;
    margin-bottom: 26px;
    font-size: 30px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
}

.about__description {
    font-size: 1.2rem;
    line-height: 2.09rem;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    margin-bottom: 2.5rem;
    letter-spacing: -0.045px;
}

.card__container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 29px;
}

.card {
    flex: 1 0 26%;
    width: 100%;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 6px;
}

.card__img {
    width: 100%;
}

.card__title {
    font-size: 18px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 12px 0px 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.card__body {
    margin-bottom: 23px;
    font-size: 12px;
    line-height: 22px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.15px;
}

.card__links {
    display: flex;
}

.link__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 31px;
    height: 31px;
    border-radius: 28px;
    border: 1px solid #666d89;
    margin-right: 7px;
    cursor: pointer;
}

.link__container:hover {
    background-color: #666d89;
    border: 1px solid rgb(235, 233, 233);
}

.link__container:hover img {
   filter: brightness(5);
}

.contact {
    background-color: #f06c64;
    padding: 0px calc(8.5%/2);
    box-shadow: inset 0px -6px 0px 0px #ea676b;
}

.contact__title {
    font-size: 30px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    padding-top: 68px;
    margin-bottom: 27px;
}

.contact__description {
    padding-bottom: 45px;
    font-size: 18px;
    line-height: 30px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 300;
    text-align: justify;
    letter-spacing: -0.049px;
}

.contact__control {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: 2px;
}

.form__container {
    width: 618px;
    margin-bottom: 15px;
    position: relative;
}

.form__container input[type="text"], .form__container input[type="email"] {
    padding-left: 15px;
    border: 0px;
    width: 100%;
    height: 37px;
    border-radius: 5px;
    background-color: #d6564f;
    margin-bottom: 16px;
    color: #f0d8d9;
    box-sizing: border-box;
}

.form__container input[type="text"]:invalid, .form__container input[type="email"]:invalid {
    border: 2px solid #c1181d;
}

.form__container input[type="text"]::placeholder, .form__container input[type="email"]::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.form__container input[type="text"]:focus, .form__container input[type="email"]:focus {
    outline: 0px;
}

.name__invalid-message, .email__invalid-message {
    display: none;
}

.form__container input[type="text"]:focus:invalid + .name__invalid-message {
    position: absolute;
    border-radius: 3px;
    display: block;
    background-color: #c1181d;
    color: #ffaba6;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    top: 29px;
    left: 7px;
    padding: 2px 7px;
}

.form__container input[type="email"]:focus:invalid + .email__invalid-message {
    position: absolute;
    border-radius: 5px;
    display: block;
    background-color: #c1181d;
    color: #ffaba6;
    font-family: "Lato";
    font-weight: 700;
    text-align: left;
    top: 81px;
    left: 7px;
    padding: 2px 7px;
}

.form__description {
    padding: 5px;
    box-sizing: border-box;
    padding-top: 7px;
    padding-left: 15px;
    width: 100%;
    height: 202px;
    border-radius: 5px;
    background-color: #d6564f;
    border:0px;
    color: #f0d8d9;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.form__description::placeholder {
    font-size: 12px;
    line-height: 22px;
    color: #f48c8f;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.form__description:focus {
    outline: 0px;
}

.form__button {
    width: 136px;
    height: 38px;
    background-color: #FBC65F;
    border:0px;
    border-radius: 5px;
    color: #886A30;
    padding: 5px 15px;
    cursor: pointer;
    font-family: "Lato";
    font-weight: 700;
    transform: none;
    transition: width 50ms ease-in-out;
}

.form__button:hover {
    color: #3e1b1c;
}

.form__button:focus {
    outline: 0;
}

.form__button:active {
    transform: scale(0.95);
}

.info__container {
    width: 300px;
    margin-bottom: 20px;
}

.info__title {
    font-size: 18px;
    line-height: 18px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin-bottom: 10px;
}

.info__description {
    height: 109px;
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: justify;
}

.info__img-container {
    display: inline-flex;
    justify-content: center;
    width: 14px;
}

.info__geo, .info__phone, .info__email {
    font-size: 12px;
    line-height: 22px;
    color: #f0d8d9;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.geo__description, .phone__description, .email__description {
    margin-left: 5px;
    display: inline-block;
}

.email__description a {
    text-decoration: none;
    color: #f0d8d9;
    cursor: pointer;
}

.email__description a:hover {
    color: #f0d8d9;
    text-decoration: none;
}

.phone__description a {
    text-decoration: none;
    color: #f0d8d9;
    cursor: pointer;
}

.phone__description a:hover {
    color: #f0d8d9;
    text-decoration: none;
}

footer {
    height:76px;
    background-color: #2d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 42px;
    padding-right: 33px;
}

.footer__description {
    font-size: 12px;
    line-height: 22px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 400;
    text-align: left;
}

.footer__links {
    display: flex;
}

.window__modal { 
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: #00000050;
    display: none;
    z-index: 400;
}

.window__modal_visible {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__container{
    width: 40%;
    padding: 20px 60px 40px;
    margin-bottom: 86px;
    background-color: #eae7e7;
    border-radius: 5px;
}

.modal__container h3 {
    font-size: 20px;
    line-height: 18px;
    color: #666d89;
    font-family: "Lato";
    font-weight: 900;
    text-align: left;
    margin: 12px 0px 21px;
}

.modal__container p {
    font-size: 14px;
    color: #767e9e;
    font-family: "Lato";
    font-weight: 600;
    text-align: justify;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}

.modal__container button { 
    margin-top: 10px;
    padding: 7px 39px;
    border-radius: 5px;
    background-color: #666d89;
    border: 2px solid #666d89;
    color: #d6d1d1;
    cursor: pointer;
    transition: width 50ms ease-in-out;
}

.modal__container button:active {
    transform: scale(0.9);
}

.modal__container button:hover { 
    color: white;
}

.modal__container button:focus { 
    outline: 0;
}


@media screen and (max-width: 1200px) {
    
    .services__details {
        grid-template: 
            "a a"
            "a a"
            "a a";
    }

}

@media screen and (max-width: 767px) {

    .gallery__item {
        flex: 1 0 30%;
    }

    .services__details {
        grid-template: 
            "a"
            "a"
            "a"
            "a"
            "a"
            "a";
    }
    
    header {
        height: 71px;
    }

    .slider {
        padding-top: 71px;
    }

    .header__logo { 
        margin-left: auto;
        font-size: 19.6875px;
        line-height: 24px;
        margin-top: 5px;
    }

    .header__logo_show{ 
        margin-left: 30px;
        transform: translateX(30px);
        transition: all 1s ease-in-out;
        z-index: 31;
    }

    .header__menu__clicker {
        display: block;
        z-index: 31;
        transition: all 1s ease-in-out;
        position: absolute;
        top: 35%;
    }

    .header__menu__clicker_active {
        transform: rotate3d(40, 40, 0, 180deg);
    }

   .menu__container {
        transform: translateX(-370px);
        transition: 1s ease-in-out;
        height: 100vh;
        flex-direction: column;
        justify-content: left;
        width: 278px;
        background-color: rgb(45,48,58);
        box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
        padding-left: 80px;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        letter-spacing: -0.035em;
        list-style: none;
        padding-top: 18vh;
        margin-left: 0;
        
    }

    .menu__container_show {
        transform: translateX(0);
    }

    .header__menu {
        width: 0;
        height: 0;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0s ease-in-out;
        z-index: 30;
    }

   .header__menu {
        display: none;
    }

    .header__menu_show {
        display: block;
        width: 100vw;
        height: 100vh;
        background: rgba(45, 48, 58, 0.6);
    }


    .menu__separater {
        width: 16px;
        height: 21px;
        border-radius: 50%;
        background-color: transparent;
    }
        
    .card {
        flex: 1 0 49%;
    }

    .form__button {
        width: 100%;
    }

    .footer__description {
        display: none;
    }
    
    footer {
        justify-content: center;
    }

}
